.bg-black-600
  .grid.grid-cols-1.gap-4.max-w-full.bg-black-600.p-16.mx-auto(
    class="lg:grid-cols-4 md:text-sm lg:text-base lg:max-w-6xl")
    .bg-black-500.rounded-md.p-6
      h2.font-thin.text-white-400.text-2xl.uppercase.mb-6 Resources
      a.uppercase.block.text-white-400(href="/publishing") Publishing
      a.uppercase.block.text-white-400(href="/consulting") Consulting
      a.uppercase.block.text-white-400(href="/certification") certification
      a.uppercase.block.text-white-400(href="/aboutus") About Us
    .bg-black-500.rounded-md.p-6(class="lg:col-span-2")
      h2.font-thin.text-white-400.text-2xl.uppercase Newsletter
    .bg-black-500.rounded-md.p-6
      h2.font-thin.text-white-400.text-2xl.uppercase.mb-6 Locations
      h3.font-bold.text-lg.text-white-500.uppercase HQ
      p.text-white-300.mb-6 1778 Chasewood Park Ln, Atlanta, GA - 30066
      h3.font-bold.text-lg.text-white-500.uppercase Seattle Area
      p.text-white-300.mb-6 345 118th Avenue Southeast, Bellevue, WA - 98005
      p.text-white-300.mb-6.flex.justify-start.gap-2.align-baseline
        span.material-icons support_agent
        a(href="tel:(305) 677-3616", class="hover:text-brand") (305) 677-3616
      .flex.gap-2.justify-between
        a(href="https://www.facebook.com/bitmaple", target="_blank")
          img.w-10(src="images/fb-logo.png")
        a(href="https://twitter.com/maple_bit", target="_blank")
          img.w-10(src="images/twitter-logo.png")
        a(href="https://www.linkedin.com/company/bitmaple-llc", target="_blank")
          img.w-10(src="images/linkedin-logo.png")
