doctype html
html
  head
    title= title
    style
      include /css/custom.css
    style
      include /css/tw-output.css
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    block page-scripts
  body.text-xs.bg-black-500.relative.max-w-full.p-4.mx-auto(
    class="md:text-sm lg:text-base lg:max-w-5xl lg:p-0")
    //- block content
    block navbar
    block header
    block body
    block footer
