extends ../layout
include ./mixins/WideCard
include ./mixins/TallCard
include ./mixins/Button
include ./mixins/Testimonial
include ./mixins/SectionHeader
include ./mixins/LeadText

block navbar
  .flex.flex-row.mx-auto.max-w-full.text-white.mt-2(class="lg:mt-8")
    div(class="basis-1/2")
      img(src="images/bitmaple.png", class="w-[160px] lg:w-[225px]")
    .text-white-600.hidden(
      class="basis-1/2 lg:flex lg:flex-row lg:justify-between lg:gap-4 lg:items-center")
      .text-xl Publishing
      .text-xl Consulting
      .text-xl Training
      .text-xl Contact Us
    .justify-end.place-items-center.flex.flex-row.w-full.content-end(class="lg:hidden basis-1/2")
      span#hamburger.material-icons.text-white-400 menu

block header
  .flex.flex-row.mx-auto.w-full.text-white.mt-8(class="lg:mt-16")
    .basis-auto(class="lg:basis-2/3")
      h1.font-bold.text-white-600.text-3xl.text-center(class="lg:text-6xl lg:text-left")
        p Unparalleled Expertise.
        p Unmatched Results.
      h2.text-white-500.text-base.mt-8.mr-4.text-center(class="lg:text-2xl lg:mt-16 lg:mr-8 lg:text-left") Meet our team and explore how our expertise can help your business. Get started today
      .flex.justify-center(class="lg:justify-start")
        +Button("meet our team","/contactus")

    .basis-0(class="lg:basis-1/3")
      img.invisible(src="images/consulting.png", class="lg:w-[320px] lg:h-[320px] lg:visible")

block body
  +SectionHeader("Services")
  +WideCard("images/planning.png", "strategic planning", "Navigating Your Business to Greater Efficiency Adaptability, and Success", "With our tailored approach, we help you craft a clear roadmap to your organization's future.","/contactus")
  +WideCard("images/ops.png", "operation excellence","Streamlining Your Business for Enhanced Quality, Efficiency, and Profitability","We identify opportunities to streamline your operations, improve productivity, and reduce costs.","/contactus")
  +WideCard("images/transform.png", "business tranformation","Innovating and Adapting for Enhanced Competitiveness and Success","Our team will help you adapt to changing market conditions, prepare for the future, and unlock your business potential.","/contactus")
  +WideCard("images/talent.png", "leadership and talent development", "Empowering Your Team for Innovation, Engagement, and Success.","We offer solutions for building a resilient, high-performing team that is ready to lead your business forward.","/contactus")
  +WideCard("images/integration.png", "technology integration","Powering Your Business Towards Efficiency, Innovation, and Security.","Our experts will guide you in harnessing the power of technology to improve your business processes and provide better service to your customers.","/contactus")

  +SectionHeader("Why choose us?")
  .grid.grid-cols-1.gap-4(class="lg:grid-cols-3")
    +TallCard("images/client.png","CLIENT FOCUSED","We understand that every organization is unique. Our approach is personalized to align with your specific goals and needs.")
    +TallCard("images/result.png","result driven","We are committed to delivering concrete results. Your success is our success.")
    +TallCard("images/innovation.png","innovation","In the rapidly evolving business landscape, we stay ahead by continually learning and adopting innovative solutions.")
  .flex.flex-col.gap-4.justify-evenly.mt-4(class="lg:flex-row")
    +TallCard("images/integrity.png","Integrity","We value honesty and transparency in all our engagements. We work with the utmost integrity and respect for your business.")
    +TallCard("images/collaboration.png","collaboration","Collaboration is at our core. We unite collective intelligence and teamwork, amplifying results by working together.")
    +TallCard("images/resilience.png","resilience","Resilience is our response to an ever-changing business landscape. We adapt, overcome, and see every challenge as a chance for growth and learning.")

  +SectionHeader("testimonials")
  .grid.grid-cols-1.gap-4(class="lg:grid-cols-3")
    div(class="lg:col-span-2")
      +Testimonial("Effortless Integration, Outstanding Results", "Our partnership with BitMaple revolutionized our business operations. Their expertise in enterprise application development is truly unmatched. They implemented solutions that drastically improved our efficiency and productivity, leading to operational excellence. We couldn't have achieved this level of success without them", "Steve R. Principal Engineer, T-Mobile", "images/head-4.png")
    div(class="lg:col-span-1")
      +Testimonial("Masterful Planning, Extraordinary Outcomes", "BitMaple’s strategic planning prowess transformed our vision into a roadmap to success. With their guidance, we navigated complexities with ease and achieved our goals faster than anticipated", "Alex H. Sr. Manager, Software Development at an AI startup", "images/head-3.png")
    div(class="lg:col-span-1")
      +Testimonial("300% Boost in Team Productivity", "Incredible experience with this team! Their focus on #TalentDevelopment & stellar #AppCreation propelled us to new heights. We unlocked potentials and innovated like never before, driving real business growth. #PersonalAchievement #SuccessUnlocked", "Sophia T. Head of T&C at T-Mobile", "images/head-1.png")
    div(class="lg:col-span-2")
      +Testimonial("A Remarkable Journey Towards Business Transformation", "Partnering with BitMaple has been a game-changer for us. At first, the idea of business transformation seemed overwhelming, but they guided us smoothly through the process. Their systematic approach and strategic insight made the journey not just manageable, but incredibly rewarding. We've seen remarkable improvements across all operations. If you're contemplating business transformation, I highly recommend them; the results speak for themselves", "Ellen H. Director, Enterprise Architecture at Funko", "images/head-2.png")

  +SectionHeader("Partner with Us")
  +LeadText("Ready to transform your business and achieve unprecedented results? There's no time like the present to start your journey towards success. Partner with us today and let's shape the future of your business together. Click 'Contact Us' now to start a conversation. We can't wait to help you exceed your goals!")
  .flex.justify-center.mt-8.mb-16
    +Button("contact us","/contactus")
